.git
.github
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
.env
.env.*
!.env.example
*.md
docker-compose*.yml
